body{
    margin:0;
    padding:0;
    background:#FAF7F2;
    font-family: "Cormorant Garamond", serif;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.contenedor{
    width:100%;
    max-width:520px;
    text-align:center;
    padding:25px;
    box-sizing:border-box;
}

.texto{
    position:absolute;

    top:0;

    left:0;

    right:0;

    bottom:0;

    display:flex;

    flex-direction:column;

    align-items:center;

    justify-content:flex-start;

    padding-top:90px;

    z-index:999;

    pointer-events:none;
}

#sobre{
    width:100%;
    cursor:pointer;
    transition:.3s;
    filter: drop-shadow(0 10px 25px rgba(0,0,0,.18));
}

#sobre:hover{
    transform:scale(1.02);
}

.sobre-contenedor{
    position:relative;
    width:100%;
    max-width:640px;
}

#nombre{
    font-family: "Great Vibes", cursive;
    font-size:50px;
    color:#5f5142;
    font-weight:400;
    margin:0;
    line-height:1.1;
}

#mensaje{
    margin-top:14px;
    font-family:"Cormorant Garamond", serif;
    font-size:28px;
    color:#6d5a43;
    line-height:1.15;
    font-weight:500;
}

#mensaje span{
    font-family:'Great Vibes', cursive;
    color:#B88A4A;
    font-size:48px;
    display:block;
    margin:4px 0;
}
