body{
    margin:0;
    background:#F8F6F1;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    padding:20px;
}

.contenedor{
    position:relative;
    width:min(430px,92vw);
}

.fondo{

    width:100%;

    min-height:100vh;

    object-fit:cover;

    display:block;

}

.botonInvisible{

    position:absolute;

    left:50%;

    transform:translateX(-50%);

    top:73.5%;

    width:66%;

    height:5.2%;

    border-radius:45px;

    cursor:pointer;

}
