html,
body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}

body{
    position:fixed;
    inset:0;
    background:#F8F6F1;
}

.contenedor{
    position:absolute;
    inset:0;
    overflow:hidden;
}

.fondo{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}
